body {
  background-color: rgba(200, 200, 200, 0.9);
}

table {
  background-color:rgba(100, 100, 100, 0.2);
color: lavender ;
width:250;
height:400;
       font-size: 16;
       font-family:微軟正黑體;
       font-style: normal;
       text-align: center;
border:1px dotted rgba(200, 200, 200, 0.3);
}
